### HOSTINGER LITESHIELD RECAPTCHA, DO NOT REMOVE THIS LINE ###
RewriteEngine On
LsRecaptcha 100
RewriteRule .* - [E=verifycaptcha:drop]
### HOSTINGER LITESHIELD RECAPTCHA, DO NOT REMOVE THIS LINE ###

# Stop Bot Traffic - Mark Contact pages as Gone (410)
RewriteRule ^contact\.php$ - [G,L]
RewriteRule ^contact-us\.php$ - [G,L]
